*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-workspace
*.swo
*.swp
*.tgz
*.local.*
.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
server/id_rsa*
/coverage/
/server/database/data.json
/server/daemon/
.svn/
id_rsa
id_rsa.pub
dist
.nyc_output
/dist
/server/certs
